<!DOCTYPE html>
<html>
<head>
  <title>Work</title>
  <link rel="icon" type="image/gif" href="http://www.pd4pic.com/images/alphabet-b-abc-letter-alphabetic-character-1.png">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="animate.css">
    <link rel="stylesheet" type="text/css" href="work.css">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="homes#index">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="abouts#index">About</a></li>
        <li class="active"><a href="#">Work<span class="sr-only">(current)</span></a></li>
        <li><a href="skills#index">Skills</a></li> 
        <li><a href="contacts#index">Contact</a></li>   
      </ul>         
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <h1>My Work</h1>
</header>

<!-- Image Gallery -->
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail-work">
      <a href="https://fitness-project.herokuapp.com/">
        <%= image_tag "fitness" %>
        <div class="caption">
          <h3>Fitness Tracker</h3>
          <p>Ruby on Rails app designed to keep track of key exercises.</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail-work">
      <a href="#">
        <%= image_tag "smilebook" %>
        <div class="caption">
          <h3>SmileBook</h3>
          <p>Kind of like Facebook using Ruby on Rails, HTML, and CSS.</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail-work">
      <a href="#">
        <img src="http://www.almanac.com/sites/default/files/users/Almanac%20Staff/primrose-february_alternate_birth_flower-1920x1275-pixabay_full_width.jpg" alt="Project C" style="width:100%; height: 200px;">
        <div class="caption">
          <h3>Project C</h3>
          <p>Coming Soon!</p>
        </div>
      </a>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail-work">
      <a href="#">
        <img src="https://www.nps.gov/wica/learn/nature/images/Pale-Evening-Primrose.jpg" alt="Project D" style="width:100%; height: 200px;">
        <div class="caption">
          <h3>Project D</h3>
          <p>Coming Soon!</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail-work">
      <a href="#">
        <img src="http://www.almanac.com/sites/default/files/users/Linda%20Stonehill/marigold-updated-october_birth_flower_1920x1280px_full_width.jpg" alt="Project E" style="width:100%; height: 200px;">
        <div class="caption">
          <h3>Project E</h3>
          <p>Coming Soon!</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail-work">
      <a href="#">
        <img src="http://www.whatsmybirthflower.com/wp-content/uploads/2014/01/Larkspur-Birth-Flower-For-July.jpg" alt="Project F" style="width:100%; height: 200px;">
        <div class="caption">
          <h3>Project F</h3>
          <p>Coming Soon!</p>
        </div>
      </a>
    </div>
  </div>
</div>


</body>
</html>