<!DOCTYPE html>
<html>
<head>
  <title>Brandy's Portfolio</title>
  <link rel="icon" type="image/gif" href="http://www.pd4pic.com/images/alphabet-b-abc-letter-alphabetic-character-1.png">
</head>
<body>
<!-- Cover Page -->
<div class="cover_page">
    <h1>HELLO</h1>
    <h2>Welcome to my Portfolio</h2>
    <h3> ---Brandy N. Morgan---</h3>
</div>

<!--Enter Button -->
<div class="enter_button">
  <a href="abouts#index" class="btn btn-link btn-lg" role="button">Enter</a>
</div>

<!-- Scripts -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>