<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>
  <link rel="icon" type="image/gif" href="http://www.pd4pic.com/images/alphabet-b-abc-letter-alphabetic-character-1.png">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="animate.css">
    <link rel="stylesheet" type="text/css" href="contact.css">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="homes#index">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="abouts#index">About</a></li>
        <li><a href="works#index">Work</a></li>
        <li><a href="skills#index">Skills</a></li> 
        <li class="active"><a href="#">Contact<span class="sr-only">(current)</span></a></li>   
      </ul>         
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Let's Talk -->
<div class="lets_talk">
    <h1>Let's Talk</h1>
</div>

<!-- Thanks -->
<div class="thank_you">
  <h3>I appreciate your time. Thank you for your interest. I hope to speak to you soon regarding your questions and/or concerns. Sincerely Yours.</h3>
</div>

<!-- Contact Form -->
<div class="contact_form">
  <form action="mailto:b.nichole247@gmail.com" method="post" enctype="text/plain">
  NAME*<br>
  <div class="clientname">
  <input type="text" name="name"><br>
  </div>
  EMAIL*<br>
  <div class="emailadd">
  <input type="text" name="email"><br>
  </div>
  HOW MAY I HELP?*<br>
  <div class="textarea">
    <input type="text" name="msg"><br>
  </div>
  <div class="submit">
  <input type="submit" value="Submit">
  </div>
  </form>
  
</div>

</body>
</html>